/* Colors
#0c2720ff
#ecb640ff
#F5EEE6 linen (natural white)
#710009 (dark) red 
*/

#root {
  max-width: 1280px;
  margin: 0;
  text-align: center;
}

ul {
  list-style: none;
}

ul > li {
  margin: 0 5%;
}

footer li a {
  color: #f5eee6;
  text-decoration: none;
  margin: 5px;
}

#nav-menu li {
  width: auto;
  white-space: nowrap;
  font-size: 1.2rem;
}

#nav-menu a {
  text-decoration: none;
  color: #f5eee6;
}

.products-in-meal:hover {
  color: green;
}

.ordertype-btn-container {
  margin: 5px 4%;
}

.ordertype-btn.active {
  background-color: #f5eee6;
  color: #710009;
}
.ordertype-btn {
  color: #f5eee6;
  background-color: #710009;
  border: 2px solid #710009;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.filter-btn.active {
  color: #710009;
  font-weight: bold;
  padding: 11px;
  background-color: #f5eee6;
}

.filter-btn {
  color: #f5eee6;
  margin: 5px 0.7%;
  padding: 10px;
  width: 17.5%;
  background-color: #710009;
  border: 2px solid #f5eee6;
  border-radius: 4px;
}

.tag-btn.active {
  color: #710009;
  font-weight: bold;
  padding: 11px;
  background-color: #f5eee6;
}

.tag-btn {
  color: #f5eee6;
  margin: 5px 0.7%;
  padding: 10px;
  width: 12%;
  background-color: #710009;
  border: 2px solid #f5eee6;
  border-radius: 4px;
}

.orderform-container .text-input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #710009;
  border-radius: 4px;
  margin: 5px auto 10px auto;
  width: 80%;
}

.orderform-label {
  font-size: 16px;
  font-weight: bold;
}

.pizzeria-option:hover {
  background-color: rgb(202, 141, 28);
}

.selected-pizzeria {
  background-color: #ecb640ff;
}

.order-time-container {
  display: flex;
  justify-content: center;
}

.order-time-container div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px 10% 20px 10%;
}

.time-option-input {
  width: 20px;
  height: 20px;
}

.timedate-container {
  padding: 10px 0;
}

.timedate-input {
  padding: 10px;
  margin-right: 2%;
}

#contact-information-container {
  background-color: #0c2720ff;
  display: flex;
  flex-direction: column;
  color: #f5eee6;
  padding: 10px 0;
}

.checkout-btn {
  margin: 5px auto;
  padding: 11px;
  background-color: #710009;
  color: #f5eee6;
  font-weight: bold;
  font-size: 14px;
  border: 1px solid #710009;
  border-radius: 5px;
}

.login-and-register-form div {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
}

.login-and-register-input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #0c2720ff;
  border-radius: 4px;
  margin: 5px auto 10px auto;
  width: 80%;
}

.login-and-register-label {
  width: 80%;
  text-align: left;
  margin: auto;
  font-size: 16px;
  font-weight: bold;
}

.login-and-register-button {
  margin: 5px auto;
  padding: 12px;
  background-color: #710009;
  color: #f5eee6;
  font-weight: bold;
  font-size: 16px;
  border: 1px solid #710009;
  border-radius: 5px;
  width: 50%;
}

.go-back-btn {
  margin: 5px auto 185px auto;
  padding: 10px;
  background-color: #ecb640ff;
  color: #0c2720ff;
  font-weight: bold;
  font-size: 14px;
  border: 1px solid #ecb640ff;
  border-radius: 5px;
}

.logout-btn {
  margin: 5px 0;
  padding: 10px;
  background-color: #710009;
  color: #f5eee6;
  font-weight: bold;
  font-size: 14px;
  border: 1px solid #710009;
  border-radius: 5px;
}

.change-btn {
  margin: 5px auto;
  padding: 8px;
  background-color: #ecb640ff;
  color: #0c2720ff;
  font-weight: bold;
  font-size: 14px;
  border: 1px solid #ecb640ff;
  border-radius: 5px;
}

.edit-form div {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
}

.edit-dialog-input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #0c2720ff;
  border-radius: 4px;
  margin: 5px auto 10px auto;
  width: 90%;
}

.edit-dialog-label {
  text-align: left;
  margin: auto;
  font-size: 16px;
  font-weight: bold;
  width: 90%;
}

#header-logo-container {
  margin: 2%;
  display: flex;
  align-items: center;
}

header nav {
  width: 75%;
}

.nav-icon {
  font-size: 35px;
}

.order-items-counter {
  background-color: #ecb640ff;
  color: #f5eee6;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  position: absolute;
  top: -18px;
  right: -18px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}

#meal-of-the-day {
  margin: 10px 0;
  padding: 10px 0;
  background-color: #ecb640ff;
}

#search-by-name {
  font-size: 16px;
}

#menu-container {
  margin: 10px;
}

#menu {
  background-color: white;
  padding: 10px 0;
  margin: 5px 0;
}

.menu-item-card {
  display: flex;
  width: 90%;
  margin: 5px auto;
  padding: 2%;
  border: 1px solid #710009;
  border-radius: 4px;
  background-color: white;
}

.menu-item-info {
  text-align: center;
  width: 60%;
  padding: 0 5%;
}

.menu-item-img-container {
  display: flex;
  justify-items: left;
  width: 40%;
}

.add-button {
  padding: 8px;
  border-radius: 10px;
  margin: 5px 1.5%;
  border: 2px solid #710009;
  background-color: #710009;
  color: #f5eee6;
  width: 35%;
}

.details-button {
  padding: 8px;
  border-radius: 10px;
  margin: 5px 1.5%;
  border: 2px solid #710009;
  color: #710009;
}

.item-dialog-div {
  width: 90%;
  background-color: white;
  padding: 2%;
  border: 2px solid #0c2720ff;
}

#shopping-cart {
  border: 1px solid black;
  justify-content: right;
  align-items: center;
  width: 100%;
  margin: auto;
  padding: 10px 0;
}

.cart-item {
  display: flex;
  width: 95%;
  justify-content: right;
  align-items: center;
  margin: 0 2.5%;
  font-size: 18px;
}

@media screen and (min-width: 556px) {
  #root {
    max-width: 100%;
    margin: 0;
    text-align: center;
  }

  header {
    height: 90px;
    width: 100%;
  }

  header nav {
    width: 90%;
  }

  .nav-icon {
    font-size: 45px;
  }

  .order-items-counter {
    background-color: #ecb640ff;
    color: #f5eee6;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    top: -25px;
    right: -18px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
  }

  #header-logo-container {
    margin: 8px;
    width: 10%;
  }

  #main-page-img-container {
    height: 500px;
    overflow: hidden;
  }

  #announcements {
    width: 85%;
    margin: auto;
  }

  #meal-of-the-day {
    width: 20%;
    padding: 20px 30%;
    margin: 30px auto;
    background-color: transparent;
    background-image: linear-gradient(
      to right,
      transparent 0%,
      #ecb640ff 30%,
      #ecb640ff 70%,
      transparent 100%
    );
  }

  #menu-container {
    width: 85%;
    margin: auto;
    border: 5px solid #710009;
  }

  #menu-filter-bar {
    width: 80%;
    margin: auto;
  }

  #menu-categories button {
    font-size: 20px;
  }

  #menu-categories button:hover {
    font-size: 20px;
    background-color: #f5eee6;
    color: #710009;
  }

  #menu-tags button {
    font-size: 20px;
  }

  #menu-tags button:hover {
    font-size: 20px;
    background-color: #f5eee6;
    color: #710009;
  }

  #search-by-name {
    font-size: 20px;
  }

  #menu-container {
    margin: 10px auto;
  }

  #menu {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* max 3 per rivi */
    gap: 10px;
    background-color: white;
    padding: 10px 0;
    margin: 10px 0;
  }

  .menu-item-card {
    display: block;
    text-align: center;
    width: 90%;
    margin: 5px auto;
    padding: 2%;
    border: 1px solid #710009;
    border-radius: 4px;
    background-color: white;
  }

  .menu-item-info {
    text-align: center;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .menu-item-info h3 {
    font-size: 22px;
  }

  .menu-item-info p {
    font-size: 18px;
  }

  .menu-item-img-container {
    display: flex;
    justify-items: center;
    width: 100%;
  }

  .add-button {
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    margin: 5px 1.5%;
    border: 2px solid #710009;
    background-color: #710009;
    color: #f5eee6;
  }

  .add-button:hover {
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    margin: 5px 1.5%;
    border: 2px solid #710009;
    background-color: #ecb640ff;
    color: #0c2720ff;
    font-weight: bold;
  }

  .details-button {
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    margin: 5px 1.5%;
    border: 2px solid #710009;
    color: #710009;
  }

  .details-button:hover {
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    margin: 5px 1.5%;
    border: 2px solid #710009;
    background-color: #ecb640ff;
    color: #0c2720ff;
    font-weight: bold;
  }

  .item-dialog-div {
    width: 40%;
    background-color: white;
    padding: 2%;
    border: 2px solid #0c2720ff;
  }

  .item-dialog-div p {
    font-size: 20px;
  }

  .item-dialog-div h3 {
    font-size: 22px;
  }

  #shopping-cart {
    border: 1px solid black;
    justify-content: right;
    align-items: center;
    width: 50%;
    margin: 10px auto;
    padding: 10px 0;
  }

  .cart-item {
    display: flex;
    width: 60%;
    justify-content: right;
    align-items: center;
    margin: 5px auto;
    font-size: 22px;
    border-bottom: 1px solid #710009;
  }

  .orderform-container form {
    width: 50%;
    margin: auto;
  }

  .orderform-container .text-input {
    font-size: 20px;
    width: 70%;
  }

  .orderform-label {
    font-size: 20px;
  }

  .timedate-container {
    padding: 12px 0;
  }

  .timedate-input {
    padding: 12px;
    font-size: 20px;
    margin-right: 2%;
  }

  #contact-information-container {
    background-color: #0c2720ff;
    display: flex;
    flex-direction: column;
    color: #f5eee6;
    padding: 10px 0;
  }
}
