#root {
  max-width: 1280px;
  margin: 0;
  text-align: center;
}

ul {
  list-style: none;
}

ul > li {
  margin: 0 5%;
}

a {
  text-decoration: none;
}

.active {
  background-color: greenyellow;
}
