/* Colors
#0c2720ff
#ecb640ff
#F5EEE6 linen (natural white)
#710009 (dark) red 
*/

/* Carousel: */
.carousel {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out; /* smooth sliding */
}

.carousel-slide {
  flex: 0 0 100%; /* yksi slide näkyy aina */
  max-width: 100%;
  box-sizing: border-box;
}

.announcement-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  z-index: 10;
  border-radius: 5px;
}

.carousel-btn.prev {
  left: 10px;
}

.carousel-btn.next {
  right: 10px;
}

.carousel-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/*----------------------------------------------*/

#root {
  max-width: 1280px;
  margin: 0;
  text-align: center;
}

ul {
  list-style: none;
}

ul > li {
  margin: 0 5%;
}

header {
  z-index: 1000;
}

.leaflet-top,
.leaflet-bottom {
  z-index: 500 !important;
}

footer li a {
  color: #f5eee6;
  text-decoration: none;
  margin: 5px;
}

#nav-menu li {
  width: auto;
  white-space: nowrap;
  font-size: 1.2rem;
}

#nav-menu a {
  text-decoration: none;
  color: #f5eee6;
}

.products-in-meal {
  color: #0c2720ff;
  font-weight: bold;
  text-decoration: none;
}

.ordertype-btn-container {
  margin: 5px 4%;
}

.ordertype-btn.active {
  background-color: #f5eee6;
  color: #710009;
}
.ordertype-btn {
  color: #f5eee6;
  background-color: #710009;
  border: 2px solid #710009;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

#menu-container {
  width: 100%;
  margin: auto 0;
  background-color: #710009;
  padding: 0;
}

#menu-filter-bar {
  width: 100%;
}

.filter-btn.active {
  color: #710009;
  font-weight: bold;
  padding: 11px;
  background-color: #f5eee6;
}

.filter-btn {
  color: #f5eee6;
  margin: 5px 0.7%;
  padding: 10px;
  width: 17.5%;
  background-color: #710009;
  border: 2px solid #f5eee6;
  border-radius: 4px;
}

.tag-btn.active {
  color: #710009;
  font-weight: bold;
  padding: 9px;
  background-color: #f5eee6;
}

.tag-btn {
  color: #f5eee6;
  margin: 5px 0.7%;
  padding: 8px;
  width: 20%;
  font-size: 12px;
  background-color: #710009;
  border: 2px solid #f5eee6;
  border-radius: 4px;
}

.addRemoveBtn {
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 20%;
  border: 1px solid #710009;
  color: #710009;
  font-weight: bold;
}

.deleteBtn {
  width: 32px;
  height: 32px;
  text-align: center;
  border-radius: 50%;
  border: 2px solid #710009;
  background-color: #710009;
  color: #f5eee6;
  font-weight: bold;
}

.orderform-container .text-input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #710009;
  border-radius: 4px;
  margin: 5px auto 10px auto;
  width: 80%;
}

.orderform-label {
  font-size: 16px;
  font-weight: bold;
}

.pizzeria-option:hover {
  background-color: rgb(202, 108, 0);
}

.selected-pizzeria {
  background-color: #ecb640ff;
}

.order-time-container {
  display: flex;
  justify-content: center;
}

.order-time-container div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px 10% 20px 10%;
}

.time-option-input {
  width: 20px;
  height: 20px;
}

.timedate-container {
  padding: 10px 0;
}

.timedate-input {
  padding: 10px;
  margin-right: 2%;
}

#contact-information-container {
  background-color: #0c2720ff;
  display: flex;
  flex-direction: column;
  color: #f5eee6;
  padding: 10px 0;
}

.checkout-btn {
  margin: 5px auto;
  padding: 11px;
  background-color: #710009;
  color: #f5eee6;
  font-weight: bold;
  font-size: 14px;
  border: 1px solid #710009;
  border-radius: 5px;
  width: 30%;
}

.dark-btn {
  margin: 5px auto;
  padding: 11px;
  background-color: #0c2720ff;
  color: #f5eee6;
  font-weight: bold;
  font-size: 16px;
  border: 1px solid #0c2720ff;
  border-radius: 5px;
}

.login-and-register-form div {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
}

.login-and-register-input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #0c2720ff;
  border-radius: 4px;
  margin: 5px auto 10px auto;
  width: 80%;
}

.login-and-register-label {
  width: 80%;
  text-align: left;
  margin: auto;
  font-size: 16px;
  font-weight: bold;
}

.login-and-register-button {
  margin: 5px auto;
  padding: 12px;
  background-color: #710009;
  color: #f5eee6;
  font-weight: bold;
  font-size: 16px;
  border: 1px solid #710009;
  border-radius: 5px;
  width: 50%;
}

.go-back-btn {
  margin: 5px auto 185px auto;
  padding: 10px;
  background-color: #ecb640ff;
  color: #0c2720ff;
  font-weight: bold;
  font-size: 14px;
  border: 1px solid #ecb640ff;
  border-radius: 5px;
}

.logout-btn {
  margin: 5px 0;
  padding: 10px;
  background-color: #710009;
  color: #f5eee6;
  font-weight: bold;
  font-size: 14px;
  border: 1px solid #710009;
  border-radius: 5px;
}

.change-btn {
  margin: 5px auto;
  padding: 8px;
  background-color: #ecb640ff;
  color: #0c2720ff;
  font-weight: bold;
  font-size: 14px;
  border: 1px solid #ecb640ff;
  border-radius: 5px;
}

.edit-form div {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
}

.edit-dialog-input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #0c2720ff;
  border-radius: 4px;
  margin: 5px auto 10px auto;
  width: 90%;
}

.edit-dialog-label {
  text-align: left;
  margin: auto;
  font-size: 16px;
  font-weight: bold;
  width: 90%;
}

#header-logo-container {
  margin: 2%;
  display: flex;
  align-items: center;
}

header nav {
  width: 75%;
}

.nav-icon {
  font-size: 35px;
}

.order-items-counter {
  background-color: #ecb640ff;
  color: #f5eee6;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  position: absolute;
  top: -18px;
  right: -18px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}

#meal-of-the-day {
  margin: 10px 0;
  padding: 10px 0;
  background-color: #ecb640ff;
}

#search-by-name {
  font-size: 16px;
}

#menu {
  background-color: white;
  padding: 10px 0;
  margin: 5px 0;
}

.menu-item-card {
  display: flex;
  width: 90%;
  margin: 5px auto;
  padding: 2%;
  border: 1px solid #710009;
  border-radius: 4px;
  background-color: white;
}

.menu-item-info {
  text-align: center;
  width: 60%;
  padding: 0 5%;
}

.menu-item-img-container {
  display: flex;
  justify-items: left;
  width: 40%;
}

.add-button {
  padding: 8px;
  border-radius: 10px;
  margin: 5px 1.5%;
  border: 2px solid #710009;
  background-color: #710009;
  color: #f5eee6;
  width: 50%;
}

.details-button {
  padding: 8px;
  border-radius: 10px;
  margin: 5px 1.5%;
  border: 2px solid #710009;
  color: #710009;
}

.item-dialog-div {
  width: 90%;
  background-color: white;
  padding: 2%;
  border: 2px solid #0c2720ff;
}

#shopping-cart {
  border: 1px solid black;
  justify-content: right;
  align-items: center;
  width: 100%;
  margin: auto;
  padding: 10px 0;
}

.cart-item {
  display: flex;
  width: 95%;
  justify-content: right;
  align-items: center;
  margin: 0 2.5%;
  font-size: 18px;
}

#checkout-total {
  font-size: 18px;
}

#user-info-container {
  width: 90%;
  text-align: left;
  margin: auto;
}

.editDialog-container {
  background-color: #f5eee6;
  width: 90%;
  margin: auto;
  padding: 20px 10px;
}

#aboutUs-our-pizzerias {
  width: 100%;
  background-color: #710009;
  margin: auto;
  padding: 20px 0;
  color: #f5eee6;
}

#aboutUs-map-container {
  height: 400px;
  width: 95%;
  margin: auto;
  border: 5px outset #8d0202ff;
}

/*--------------------------------------------------------------------------------------------------------------*/

@media screen and (min-width: 556px) {
  #root {
    max-width: 100%;
    margin: 0;
    text-align: center;
  }

  html,
  body {
    height: 100%;
    margin: 0;
  }

  .layout-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  main {
    flex: 1;
  }

  header {
    height: 90px;
    width: 100%;
  }

  header nav {
    width: 90%;
  }

  .nav-icon {
    font-size: 45px;
  }

  .nav-icon:hover {
    color: #ecb640ff;
  }

  .order-items-counter {
    background-color: #ecb640ff;
    color: #f5eee6;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    top: -25px;
    right: -18px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
  }

  #header-logo-container {
    margin: 8px;
    width: 10%;
  }

  #main-page-img-container {
    height: 500px;
    overflow: hidden;
  }

  #announcements {
    width: 85%;
    margin: auto;
  }

  #meal-of-the-day {
    width: 20%;
    padding: 20px 30%;
    margin: 30px auto;
    background-color: transparent;
    background-image: linear-gradient(
      to right,
      transparent 0%,
      #ecb640ff 30%,
      #ecb640ff 70%,
      transparent 100%
    );
  }

  #menu-container {
    width: 85%;
    margin: auto;
    border: 5px solid #710009;
  }

  #menu-filter-bar {
    width: 80%;
    margin: auto;
  }

  #menu-categories button {
    font-size: 20px;
  }

  #menu-categories button:hover {
    font-size: 20px;
    background-color: #f5eee6;
    color: #710009;
  }

  .tag-btn {
    padding: 10px;
    width: 12%;
    font-size: 20px;
  }

  .tag-btn:hover {
    font-size: 20px;
    background-color: #f5eee6;
    color: #710009;
  }

  .tag-btn.active {
    padding: 11px;
  }

  #search-by-name {
    font-size: 20px;
  }

  #menu-container {
    margin: 10px auto;
  }

  #menu {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* max 3 per rivi */
    gap: 10px;
    background-color: white;
    padding: 10px 0;
    margin: 10px 0;
  }

  .menu-item-card {
    display: block;
    text-align: center;
    width: 90%;
    margin: 5px auto;
    padding: 2%;
    border: 1px solid #710009;
    border-radius: 4px;
    background-color: white;
  }

  .menu-item-info {
    text-align: center;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .menu-item-info h3 {
    font-size: 22px;
  }

  .menu-item-info p {
    font-size: 18px;
  }

  .menu-item-img-container {
    display: flex;
    justify-items: center;
    width: 100%;
  }

  .add-button {
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    margin: 5px 1.5%;
    border: 2px solid #710009;
    background-color: #710009;
    color: #f5eee6;
  }

  .add-button:hover {
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    margin: 5px 1.5%;
    border: 2px solid #710009;
    background-color: #ecb640ff;
    color: #0c2720ff;
    font-weight: bold;
  }

  .details-button {
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    margin: 5px 1.5%;
    border: 2px solid #710009;
    color: #710009;
  }

  .details-button:hover {
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    margin: 5px 1.5%;
    border: 2px solid #710009;
    background-color: #ecb640ff;
    color: #0c2720ff;
    font-weight: bold;
  }

  .item-dialog-div {
    width: 40%;
    background-color: white;
    padding: 2%;
    border: 2px solid #0c2720ff;
  }

  .item-dialog-div p {
    font-size: 20px;
  }

  .item-dialog-div h3 {
    font-size: 22px;
  }

  #shopping-cart {
    border: 1px solid black;
    justify-content: right;
    align-items: center;
    width: 50%;
    margin: 10px auto;
    padding: 10px 0;
  }

  .cart-item {
    display: flex;
    width: 60%;
    justify-content: right;
    align-items: center;
    margin: 5px auto;
    font-size: 22px;
    border-bottom: 1px solid #710009;
  }

  .orderform-container form {
    width: 50%;
    margin: auto;
  }

  .orderform-container .text-input {
    font-size: 20px;
    width: 70%;
  }

  .orderform-label {
    font-size: 20px;
  }

  .timedate-container {
    padding: 12px 0;
  }

  .timedate-input {
    padding: 12px;
    font-size: 20px;
    margin-right: 2%;
  }

  #contact-information-container {
    background-color: #0c2720ff;
    display: flex;
    flex-direction: column;
    color: #f5eee6;
    padding: 10px 0;
  }

  .dark-btn:hover {
    background-color: #f5eee6;
    color: #0c2720ff;
    border: 1px solid #0c2720ff;
  }

  .change-btn:hover {
    background-color: rgb(202, 108, 0);
  }

  .change-btn {
    padding: 12px;
    font-size: 16px;
  }

  .addRemoveBtn:hover {
    background-color: #c5c5c5;
  }

  .deleteBtn:hover {
    border: 2px solid #710009;
    background-color: #f5eee6;
    color: #710009;
  }

  .checkout-btn:hover {
    background-color: #f5eee6;
    color: #710009;
  }

  .ordertype-btn:hover {
    background-color: #f5eee6;
    color: #710009;
  }

  #checkout-container {
    width: 60%;
    margin: 20px auto;
    padding: 10px;
    border: 3px solid #0c2720ff;
    font-size: 20px;
  }

  #addressAndTime-box {
    border-radius: 5px;
  }

  #checkout-items-h2 {
    border-radius: 5px;
  }

  #checkout-items {
    width: 50%;
    margin: auto;
  }

  #checkout-total {
    font-size: 24px;
  }

  #payment-form {
    width: 70%;
    margin: 20px 0;
    padding: 10px 15%;
  }

  .checkout-btn {
    padding: 12px;
    font-size: 20px;
    width: 40%;
  }

  #after-checkout {
    font-size: 20px;
  }

  #after-checkout-btn {
    margin: 5px auto 185px auto;
    padding: 12px;
    background-color: #ecb640ff;
    color: #0c2720ff;
    font-weight: bold;
    font-size: 18px;
    border: 1px solid #ecb640ff;
    border-radius: 5px;
  }

  #after-checkout-btn:hover {
    background-color: rgb(202, 108, 0);
  }

  .logout-btn {
    padding: 12px;
    font-size: 16px;
  }

  #user-info-container {
    width: 60%;
    font-size: 22px;
  }

  #user-orders-container {
    width: 60%;
    margin: auto;
    font-size: 20px;
    padding: 20px 0;
  }

  .editDialog-container {
    background-color: #f5eee6;
    width: 35%;
    padding: 20px 8%;
  }

  #logged-out-container {
    width: 30%;
    padding: 50px 10px;
    font-size: 18px;
    margin: 30px auto;
    border: 3px solid #0c2720ff;
  }

  .login-and-register-form {
    width: 40%;
    margin: auto;
  }

  .login-and-register-button {
    font-size: 20px;
  }

  .login-and-register-button:hover {
    background-color: #f5eee6;
    color: #710009;
  }

  .go-back-btn {
    font-size: 18px;
  }

  .go-back-btn:hover {
    background-color: rgb(202, 108, 0);
  }

  #aboutUs-container {
    width: 80%;
    margin: 30px auto;
  }

  #aboutUs-container p {
    width: 60%;
    margin: 60px auto;
    font-size: 20px;
  }

  #aboutUs-img-container {
    height: 600px;
    overflow: hidden;
  }

  #aboutUs-map-container {
    height: 600px;
    width: 95%;
    margin: auto;
    border: 5px outset #8d0202ff;
  }

  #aboutUs-our-pizzerias {
    width: 90%;
    background-color: #710009;
    margin: auto;
    padding: 20px 0;
    color: #f5eee6;
    border-radius: 5px;
  }

  #aboutUs-our-pizzerias p {
    margin: 5px auto;
  }

  #aboutUs-our-pizzerias p:hover {
    color: #ecb640ff;
  }

  .products-in-meal:hover {
    color: #710009;
    text-decoration: none;
  }

  .announcement-img-container {
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    object-fit: cover;
    overflow: hidden;
  }
}
